JavaDev/src/Xml/exemplos/db.dtd

<?xml version="1.0" encoding="ISO-8859-1" ?>
<!ELEMENT db ( connection+ ) >
<!ELEMENT connection ( url, driver, userid*, passwd*, codebase*, policy*, objname ) >
<!ATTLIST connection name NMTOKEN #REQUIRED >
<!ELEMENT url ( #PCDATA ) >
<!ELEMENT driver ( #PCDATA ) >
<!ELEMENT userid ( #PCDATA ) >
<!ELEMENT passwd ( #PCDATA ) >
<!ELEMENT codebase ( #PCDATA ) >
<!ELEMENT policy ( #PCDATA ) >
<!ELEMENT objname ( #PCDATA ) >
