Eduardo-Eduardo1-1/src/Xml/Exercicio/my/empresa.dtd

<!ELEMENT Empresa (funcionario+)>
<!ELEMENT funcionario (nome,telefone,departamento,empresa)>
<!ELEMENT nome (#PCDATA)>
<!ELEMENT telefone (#PCDATA)>
<!ATTLIST telefone ddd NMTOKEN #REQUIRED >
<!ATTLIST telefone ramal NMTOKEN #IMPLIED >
<!ELEMENT departamento (#PCDATA)>
<!ELEMENT empresa (#PCDATA)>