Ricardo_2/src/Xml/Dtd.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT contatos (pessoa+) >
<!ELEMENT pessoa (nome, telefone, departamento, empresa) >
<!ELEMENT nome (#PCDATA) >
<!ELEMENT telefone (#PCDATA) >
<!ATTLIST telefone ddd  NMTOKEN #REQUIRED>
<!ATTLIST telefone numero  NMTOKEN #REQUIRED>
<!ATTLIST telefone ramal   NMTOKEN #IMPLIED>
<!ELEMENT departamento (#PCDATA) >
<!ELEMENT empresa (#PCDATA) >