JavaDev/src/Xml/endereco/endereco.dtd

<?xml version="1.0" encoding="ISO-8859-1" ?>
<!ELEMENT endereco (logradouro, numero, complemento?, 
                    bairro, cep?, cidade?, estado?) >
<!ELEMENT logradouro (#PCDATA) >
<!ELEMENT numero (#PCDATA) >
<!ELEMENT complemento (#PCDATA) >
<!ELEMENT bairro (#PCDATA) >
<!ELEMENT cep (#PCDATA) >
<!ELEMENT cidade (#PCDATA) >
<!ELEMENT estado (#PCDATA) >