Cleber/src/Xml/cadastroteste.dtd

<!ELEMENT cadastroteste (contato+)>
<!ELEMENT contato (nome, telefone, departamento, empresa)>
<!ELEMENT nome (#PCDATA)>
<!ELEMENT telefone (#PCDATA)>
<!ATTLIST telefone ddd NMTOKEN #REQUIRED>
<!ATTLIST telefone ramal NMTOKEN #IMPLIED>
<!ELEMENT departamento (#PCDATA)>
<!ELEMENT empresa (#PCDATA)>
